<ion-view class="background" view-title="Home Page">
<ion-content class="padding">


<img  style="width: 200px ;margin-left: 40px" src="/img/maphome.png"> 
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   <span style="margin-top: 0px !important;margin-left:40px ">

<br><br><br><br><br> 
 <div class="borderHome" style="margin-left: 5px;width: 290px">
 <br> &nbsp; 
 <button   style="color: #000000;margin-left:2px "  ng-click="goToLoginPage()" id="buttonHome" class="button icon-left ">Login</button>
 <button   style="color: #000000"  ng-click="goToRegisterPage()" id="buttonHome" class="button icon-left ">Register</button>
 <br><br>
 </div>









</ion-content>
</ion-view>
