<ion-modal-view class="background" view-title="Login Page">



<ion-content  id="loginheader"> 
 
<div class="list">
<br>
 <a>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;
  <img  style="width: 60px;margin-left: 40px" src="/img/login5.png"> 
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   <span style="margin-top: 0px !important;margin-left:40px ">
    <font style="font-family: 'fontawesome';font-size:30px;  font-weight: normal;
    font-style: normal;"> <br> <br>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Login Page</font></span> 
 
  </a></div> 

   
 <div class="mangername" class="padding">
    <form class="marginFormLogin"  ng-submit="doLogin()">
      <div class="list">
       
        <label  style="background-color:rgba(179,220,237,1) " class="item item-input">
          <span class="input-label">  <i class="icon ion-person">
  &nbsp;&nbsp;      Email</i></span>
          <input type="email" ng-model="loginData.email">
        </label>
       
        <label  style="background-color:rgba(179,220,237,1) " class="item item-input">
          <span class="input-label"> <i class="icon ion-locked">  &nbsp;&nbsp; Password</i></span>
          <input type="password" ng-model="loginData.password">
        </label>
      
        <label   style="background-color:rgba(179,220,237,1)" class="item">
          <button  class="button button-block button-positive" type="submit">Log in</button>
        </label>

      </div>
    </form>
 </div>



 
  </ion-content>
</ion-modal-view>

