<ion-view class="background" view-title="Check schedule Order Page">
  <ion-content>



<div class="list">
 <a>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
  <img  style="width: 100px" src="/img/table4.png"> 
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
<br>  &nbsp; &nbsp;  &nbsp; &nbsp;  <span style="margin-top: 0px !important"> <font style="font-family: 'fontawesome';font-size:30px;  font-weight: normal;
    font-style: normal;">Check schedule Order</font></span> 
 </a></div>





<ion-scroll zooming="true" direction="y" style=" height: 500px">
<div data-ng-repeat="childInfo in ShowChildeFromUserAdd ">
<div class="card">
  <div class="item item-text-wrap">
   Hello.<br>
  my name is {{childInfo.ParentFirstname}} {{childInfo.ParentLastname}} <br>
  I want i reach my child to school every day  the number of child is {{childInfo.numberchildren}}
  at  {{childInfo.PaymentMethod}} and this is my Mobile phone {{childInfo.mobilenum}} 
 </div>
</div>



<button style="margin-left: 50px"  class="button  button-positive" modal-select="" 
   ng-model="someModel" options="selectables"  modal-title="Choose Driver"   >
 Choose Driver {{someModel.firstname}}
    
         <div class="option">
 {{option.firstname}}
 {{option.lastname}}  
</div>

     </button>
 
<br>

<form>
    <input id="input" type="text" placeholder=""  ng-model="chooseDriver.firstname"  >{{someModel.firstname}} 
</form>

</div><!-- ng-repeat -->









<ion-scroll>





</ion-content>
</ion-view>
