<ion-view class="background" view-title="Manger Page">
  <ion-content>



<div class="mangernamee" class="padding">
  <div class="marginForm" >
  <a id="imageup" class="item item-avatar" href="#">
  <img src="/img/manger.png">
  {{genericOfficeName}} Taxi Office
  <br> Welcome   {{  genericFirstName}}  {{genericsecondName}}
  </a>
</div>
</div>


 <span style="margin-top: 0px !important;margin-left:40px ">
    <font style="font-family: 'fontawesome';font-size:30px;  font-weight: normal;
    font-style: normal;color: #387ef5">   <br>  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  ADD Driver  <br><br> </font></span> 
 

<ion-scroll zooming="true" direction="y" style=" height: 400px">
<div class="mangernamee" class="padding">
  <div class="marginForm" >
<form ng-submit="MangerAddDriversubmit()">  
  <div  class="list list-inset">


<!--style="background-color:rgba(179,220,237,1) " -->
   

  <label class="item item-input">
      <span class="input-label"> <i class="icon ion-person">&nbsp;&nbsp; First Name </i> </span>

    <input  type="text"  ng-model="MangerAddDriver.first" required="please you must fill this field ">
  </label>

  
  <label class="item item-input">
  <span class="input-label"> <i class="icon ion-person">&nbsp;&nbsp; Last Name </i> </span>
  <input   type="text"  ng-model="MangerAddDriver.last" required="please you must fill this field ">
  </label>

<!--<label class="item item-input">
        <span class="input-label"> <i class="icon ion-person">&nbsp;&nbsp; OfficeName </i> </span>

 <input   type="text" ng-model="MangerAddDriver.officename" required="please you must fill this field ">
  </label>
-->

  <label class="item item-input">
         <span class="input-label"> <i class="icon ion-email">&nbsp;&nbsp; Email </i> </span>

  <input  type="email" pattern="[^ @]*@[^ @]*"  ng-model="MangerAddDriver.email"
	    required="please you must fill this field ">
  </label>
 
  <label class="item item-input">
         <span class="input-label"> <i class="icon ion-locked">&nbsp;&nbsp; Password </i> </span>  
  <input  type="password"  ng-model="MangerAddDriver.password" required="please you must fill this field "> 
   </label>
  

	
  <label class="item item-input">
           <span class="input-label"> <i class="icon ion-ios-telephone">&nbsp;&nbsp; Mobile Number </i> </span>  

<input  type="number"  ng-model="MangerAddDriver.number" required="please you must fill this field "> 
</label>

	
    <label class="item item-input">
             <span class="input-label"> <i class="icon ion-android-car">&nbsp;&nbsp; Car Number </i> </span>  

<input  type="number"  ng-model="MangerAddDriver.cardnumber" required="please you must fill this field "> 
</label>
</div>
	 

<input type="hidden" ng-model="genericOfficeInputHidden.nameoffice" ng-value="{{genericOfficeName}}">{{genericOfficeName}}


<div class="padding assertive" style="font-size:18px;">
  {{ result }}
</div>

<button id="submitButton" type="submit" class="button button-positive ion-person-add">
  Add Driver
</button>
<br><br><br><br><br>

	</form>
  </div></div>
</ion-scroll>

 <br><br><br><br><br><br><br><br><br><br><br>

 
<div  class="tabs tabs-icon-top  tabs-color-positive"><!--positive is color blue ,,,,,,,tabs-striped No name -->
    <div id="tabcss" class="tabs">
      
      <a  ng-click="goShowDriver()" class="tab-item " href="#/app/showDriver">
        <i class="icon ion-eye"></i>
        Show Driver
      </a>
      
      <a class="tab-item active " href="#/app/manger"><!-- search ADd driver-->
        <i class="icon ion-person-add"></i>
        ADD Driver
      </a>

 
    <a  class="tab-item " href="#/app/mangerCheckADDChilde">
      <i class="icon ion-android-contacts" ></i>
      Check ADD Children
     </a>

     

      <a class="tab-item" href="#/app/map">
        <i class="icon ion-location"></i>
        Map
      </a>

    </div>
</div>





</ion-content>
</ion-view>
