
<ion-view class="background" view-title="Map Page">


    <ion-content scroll="false">
    <!-- <div id="map_canvas" style="width:100%; height:100%"></div>
<a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
       
    -->
	<map on-create="mapCreated(map)"></map>     
    </ion-content>

    <br>

    
    <ion-footer-bar class="bar-stable">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
    </ion-footer-bar>
   

   <span> {{aya}}

   </span>


   
   
</ion-view>