<ion-view class="background" view-title="Register Page">
  <ion-content   class="padding">
    
<div class="list">
 <a>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;
  <img  style="width: 100px" src="/img/registration2.png"> 
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
  <span style="margin-top: 0px !important"> <font style="font-family: 'fontawesome';font-size:30px;  font-weight: normal;
    font-style: normal;">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Registration Page</font></span> 
 </a></div>



<div class="mangername" class="padding">
    <form ng-submit="submitRegister()">   
    <div class="list">
	 <div class="marginForm" >

	

	 <label style="background-color:rgba(179,220,237,1) "  class="item item-input ">
    <span class="input-label"> <i class="icon ion-person">&nbsp;&nbsp;First Name </i> </span>
    <input id="input" type="text" ng-model="user.first" required="please you must fill this field ">
  </label>
	 
	  <label  style="background-color:rgba(179,220,237,1) " class="item item-input ">
	    <span class="input-label"><i class="icon ion-person">&nbsp;&nbsp;Last Name</i></span>
	    <input  id="input" type="text"  ng-model="user.last" required="please you must fill this field ">
	  </label>
	 
	  <label style="background-color:rgba(179,220,237,1) " class="item item-input">
	    <span class="input-label"> <i class="icon ion-email">&nbsp;&nbsp;Email</i></span>
	    <input id="input" type="email" pattern="[^ @]*@[^ @]*"   ng-model="user.email"
	    required="please you must fill this field ">
	  </label>
	  
	  <label  style="background-color:rgba(179,220,237,1) " class="item item-input">
	    <span class="input-label"> <i class="icon ion-locked">&nbsp;&nbsp;Password</i></span>
	    <input id="input" type="password"  ng-model="user.password" required="please you must fill this field ">
	  </label>

<label style="background-color:rgba(179,220,237,1) " class="item item-input ">
	    <span class="input-label"><i class="icon ion-ios-telephone">&nbsp;&nbsp;Mobile Number</i></span>
	    <input id="input" type="number"  ng-model="user.number" required="please you must fill this field ">
	  </label>
</div>

<br>
<div class="marginForm" >  
 &nbsp;
 <font style="font-family: 'fontawesome';font-size:25px;  font-weight: normal;
font-style: normal;color:#387ef5"> <br>&nbsp;&nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp;Type OF User: </font>
    <br><br>
<ion-list >
  <ion-radio style="color:#387ef5 "   id="radiocheck" ng-model="user.type" ng-click="show=false;" ng-value="'manger'">Manger</ion-radio>
  <ion-radio style="color:#387ef5 "  id="radiocheck" ng-model="user.type" ng-click="show=true;"  ng-value="'driver'">Driver</ion-radio>
  <ion-radio  style="color:#387ef5 " id="radiocheck" ng-model="user.type" ng-click="show=false;"  ng-value="'user'">User</ion-radio>
  </ion-list>



<div ng-if="show">
 <label style="background-color:#ffffff ;height: 70px"  class="item item-input item-floating-label">
	    <span   class="input-label">Car Number</span>
	    <input   type="number" placeholder="Car Number " ng-model="user.carnum" required="please you must fill this field ">
	  </label>
</div>
</div>
<div class="padding assertive" style="font-size:18px;">
	{{ result }}
</div>

	 <button id="submitButton" type="submit" class="button button-positive button">Register</button>
</div>
</form>

</div>
  


	



  </ion-content>
</ion-view>
