


<ion-view class="background" view-title="Manger Page">
  <ion-content>
  
<div    class="list">
    <a  id="imageup" class="item item-avatar" href="#">
      <img src="/img/manger.png">
  {{genericOfficeName}}   Taxi Office 
     <br> <h2>Welcome  manger : {{  genericFirstName}} {{genericsecondName}}  </h2>
    </a>
</div>



<center><h4> ADD Driver</h4></center>

<form ng-submit="MangerAddDriversubmit()">  
  <div  class="list list-inset">

  <label class="item item-input">
    <input  type="text" placeholder="First Name" ng-model="MangerAddDriver.first" required="please you must fill this field ">
  </label>

  <label class="item item-input">
   <input   type="text" placeholder="Last Name" ng-model="MangerAddDriver.last" required="please you must fill this field ">
  </label>

  <label class="item item-input">
  <input  type="email" pattern="[^ @]*@[^ @]*"  placeholder="Email" ng-model="MangerAddDriver.email"
	    required="please you must fill this field ">
  </label>
 
  <label class="item item-input">
  <input  type="password" placeholder="Password" ng-model="MangerAddDriver.password" required="please you must fill this field "> 
   </label>
  

	
  <label class="item item-input">
<input  type="number" placeholder="Mobile number " ng-model="MangerAddDriver.number" required="please you must fill this field "> 
</label>

	
    <label class="item item-input">
<input  type="number" placeholder="Car number " ng-model="MangerAddDriver.cardnumber" required="please you must fill this field "> 
</label>
</div>
	  
<div class="padding">
  {{ result }}
</div>
{{genericOfficeName}}
<input type="hidden" ng-model="genericOfficeInputHidden.nameoffice" ng-value="{{genericOfficeName}}">{{genericOfficeName}}

<button id="submitButton" type="submit" class="button button-positive">
  Add Driver
</button>

	</form>

 <button id="submitButton" ng-click="goShowDriver()"  class="button button-positive">Show Driver</button>


 
  </ion-content>
</ion-view>
