<ion-view class="background" view-title="Manger Page">
  <ion-content>
  
<div class="list">
 <a  id="imageup" class="item item-avatar" href="#">
      <img src="/img/manger.png">
      {{genericOfficeName}} Taxi Office
     <br> <h2>Welcome   {{  genericFirstName}}  {{genericsecondName}}</h2>
 </a>
</div>



<div class="list">
  <div class="item item-button-right">
    
    <a class="item item-avatar" href="#">
      <img src="/img/driverr.png">
      <h2>{{ShowAllDriverOffice.firstname}} {{ShowAllDriverOffice.lastname}}</h2>
      <p>{{ShowAllDriverOffice.email}} <br>
      {{ShowAllDriverOffice.phonenum}}</p>
    </a>

    <button class="button button-positive">
      <i class="icon ion-ios-telephone"></i>
    </button>
  </div>
</div>




<div class="list">
  <div class="item item-button-right">
    
    <a class="item item-avatar" href="#">
      <img src="/img/driverr.png">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
    
    <button class="button button-positive">
      <i class="icon ion-ios-telephone"></i>
    </button>
  </div>
</div>







 
  </ion-content>
</ion-view>
