<ion-view class="background" view-title="Show Driver">
  <ion-content>



<div   class="drivernamee" class="list">
<div class="" class="list">
  <a id="imageup" class="item item-avatar" href="">
  <img src="/img/manger.png"> <span style="margin-top: 0px !important"> 
  <span style="margin-top: 0px !important"> 
   <font style="font-family: 'fontawesome';font-size:20px;  font-weight: normal;
    font-style: normal;color: #387ef5"> 
  {{genericOfficeName}} Taxi Office
  <br>  Welcome <font style="font-family: 'fontawesome';font-size:20px;  font-weight: normal;
    font-style: normal;color: #387ef5">  {{  genericFirstName}}  {{genericsecondName}}
 </font>
  <br> 
    </font></span> 
  </a>
</div>
</div>

<ion-scroll zooming="true" direction="y" style="width: 500px; height: 500px">



  <div class="mangernamee" class="list">

  <h1>{{resultShowDriver}}</h1>  
  <div data-ng-repeat="driver in driversname ">
  <div class="showDriver" class="item item-button-right">  
  <a class="item item-avatar" href="">
  <img src="/img/driver.png">
  <p>  <span style="margin-top: 0px !important"> <font style="font-family: 'fontawesome';font-size:20px;  font-weight: normal;
    font-style: normal;color: #387ef5">   Driver Name :</font></span> 
 </p>
  <h2>{{driver.firstname}} &nbsp; {{driver.lastname}}</h2>
  <p> <span style="margin-top: 0px !important"> <font style="font-family: 'fontawesome';font-size:20px;  font-weight: normal;
    font-style: normal;color: #387ef5">  Email:</font></span> <br>
  <h2>{{driver.email}}</h2> </p>
  <p> <span style="margin-top: 0px !important"> <font style="font-family: 'fontawesome';font-size:20px;  font-weight: normal;
    font-style: normal;color: #387ef5">Phone Number:</font></span> <br>
  <h2>&nbsp; {{driver.phonenum}}</h2></p>
  <p> <span style="margin-top: 0px !important"> <font style="font-family: 'fontawesome';font-size:20px;  font-weight: normal;
    font-style: normal;color: #387ef5">   Car Number:</font></span> <br>
  <h2>&nbsp;{{driver.cardnum}}</h2></p>
  </a>
  <div class="item item-input-inset">

   <button  ng-click="updatedriver(driver)"  class="button button-positive">
   Update 
   <br>
   <i class="icon ion-person"></i>
   </button>
   &nbsp;
  
   <button  ng-click="deletedriver(driver)"  class="button button-positive"> 
   Delete 
   <br> <i class="icon ion-trash-b"></i>
   </button>
   &nbsp;
   
  
   </div>

  </div>
</div>
</div>


</ion-scroll>






<div  class="tabs tabs-icon-top  tabs-color-positive"><!--positive is color blue ,,,,,,,tabs-striped No name -->
    <div id="tabcss" class="tabs">
      
      <a  ng-click="goShowDriver()" class="tab-item active" href="#/app/showDriver">
        <i class="icon ion-eye"></i>
        Show Driver
      </a>
      
      <a class="tab-item  " href="#/app/manger"><!-- search ADd driver-->
        <i class="icon ion-person-add"></i>
        ADD Driver
      </a>

 
    <a  class="tab-item " href="#/app/mangerCheckADDChilde">
      <i class="icon ion-android-contacts" ></i>
      Check ADD Children
     </a>

     

      <a class="tab-item" href="#/app/map">
        <i class="icon ion-location"></i>
        Map
      </a>

    </div>
</div>


  </ion-content>
</ion-view>
