
<ion-view> 

  
  <div  class="tabs-striped tabs-color-assertive">
    <div id="tabcss" class="tabs">
      <a class="tab-item active" href="#/app/showDriver">
        <i class="icon ion-eye"></i>
        Show Driver
      </a>
      <a class="tab-item" href="#/app/search"><!-- search ADd driver-->
        <i class="icon ion-star"></i>
        ADD Driver
      </a>
      <a class="tab-item" href="#/app/map">
        <i class="icon ion-gear-a"></i>
        Map
      </a>
    </div>
  </div>
  
</ion-view>