
<ion-view> 
    <ion-content scroll="false">
   <!-- TOP
   	<a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
   
      	
     <div class="list">
     <div class="item item-input-inset">
     <label class="item-input-wrapper">
     <input id="address" type="text" placeholder="Enter City Name">
     </label>
     <button class="button button-small" ng-click="getAddress()">
     Submit
     </button>
     </div>
     </div>


 -->
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>

      	<map on-create="mapCreated(map)"></map>     
    </ion-content>

    
    <ion-footer-bar class="bar-stable">

    </ion-footer-bar>

   
</ion-view>