<ion-view class="background" view-title="Manger Page">
  <ion-content >
  

<div class="mangername" class="list">
  <a id="imageup" class="item item-avatar" href="#">
  <img src="/img/manger.png">
  {{genericOfficeName}} Taxi Office
  <br> <h2>Welcome   {{  genericFirstName}}  {{genericsecondName}}</h2>
  </a>
</div>

{{DriverFirstName}}
{{DriverlastName}}
{{DriveremailName}}
{{Driverphonenum}}
{{Drivercardnum}}




















<!--


<form ng-submit="updateDriverFromManger()">  
    <div class="list">
	 
	   <label  class="item item-input item-floating-label">
    <span class="input-label">First Name</span>
    <input id="input" type="text" placeholder="First Name" ng-model="updatePage.first" required="please you must fill this field ">
  </label>
	 
	  <label   class="item item-input item-floating-label">
	    <span class="input-label">Last Name</span>
	    <input  id="input" type="text" placeholder="Last Name" ng-model="updatePage.last" required="please you must fill this field ">
	  </label>
	 
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Email</span>
	    <input id="input" type="email" pattern="[^ @]*@[^ @]*"  placeholder="Email" ng-model="updatePage.email"
	    required="please you must fill this field ">
	  </label>
	  
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Password</span>
	    <input id="input" type="password" placeholder="Password" ng-model="updatePage.password" required="please you must fill this field ">
	  </label>

<label class="item item-input item-floating-label">
	    <span class="input-label">Mobile Number</span>
	    <input id="input" type="number" placeholder="Mobile number " ng-model="updatePage.number" required="please you must fill this field ">
	  </label>


	 <button id="submitButton" type="submit" class="button button-positive button">Register</button>
</div>
</form>



-->












  </ion-content>
</ion-view>
