<ion-view class="background" view-title="Manger Page">
  <ion-content >
  

<div class="mangernamee" class="list">
  <a id="imageup" class="item item-avatar" href="#">
  <img src="/img/manger.png">
  {{genericOfficeName}} Taxi Office
  <br> <h2>Welcome   {{  genericFirstName}}  {{genericsecondName}}</h2>
  </a>
</div>





<form ng-submit="updateDriverFromManger()">  
    <div  class="list list-inset">

	 
	   <label  class="item item-input item-floating-label">
    <span class="input-label">First Name</span>
    <input id="input" type="text" placeholder=""  ng-model="updatePage.firstname" >{{DriverFirstName}}

    
 <!-- 
 <span ng-bind="updatePage.firstname"></span>  

<span ng-modle="firstname.firstnamee"></span>
  
<input type="hidden" name="firstname" ng-init="firstname={{DriverFirstName}};" ng-value="firstname"/>

  -->
     





  </label>
	 
	  <label   class="item item-input item-floating-label">
	    <span class="input-label">Last Name</span>
	    <input  id="input" type="text" placeholder=""  ng-model="updatePage.lastname" >{{DriverlastName}}
	 
	  </label>
	 
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Email</span>
	    <input id="input" type="email" pattern="[^ @]*@[^ @]*"  placeholder="" ng-model="updatePage.email">{{DriveremailName}}
	 
	  </label>
	  
<!--
        <label class="item item-input item-floating-label">
	    <span class="input-label">Password</span>
	    <input id="input" type="password" placeholder="Password" ng-model="updatePage.password" required="please you must fill this field ">
	  </label>
--> 
<label class="item item-input item-floating-label">
	    <span class="input-label">Mobile Number</span>
	    <input id="input" type="tel" placeholder=""  ng-model="updatePage.mobilenumber" >  {{Driverphonenum}}
</label>



<label class="item item-input item-floating-label">
	    <span class="input-label">card Number</span>
	    <input id="input" type="number" placeholder=""   ng-model="updatePage.carnumber" >  {{Drivercardnum}}

</label>





</div>

<div class="padding assertive" style="font-size:18px;">
  {{ result }}
</div>
	 <button id="submitButton" type="submit" class="button button-positive button">Update</button>
	 </form>










  </ion-content>
</ion-view>
