<ion-view class="background" view-title="User Page">

  <ion-content class="padding">
   
    <div   class="username" class="list">
    <a  id="imageup" class="item item-avatar" href="#">
    <img src="/img/user.png">
    <br> <h2>Welcome   {{  genericFirstName}}  {{genericsecondName}}</h2>
    </a>
    </div>

<!--
    <map on-create="mapCreated(map)"></map>     
    </ion-content>
    <br>
    <ion-footer-bar class="bar-stable">
    <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
    </ion-footer-bar>
    <span> {{aya}}
    </span>




-->





 
<div  class="tabs tabs-icon-top tabs-color-positive"><!--positive is color blue -->
    <div id="tabcss" class="tabs">
      
      
     <a  ng-click="" class="tab-item " href="  ">
      <i class="icon ion-ios-bookmarks" ></i>
      ADD journey
     </a>
      
      <a class="tab-item active " href=""><!-- search ADd driver-->
        <i class="icon  ion-android-warning"></i>
         ADD urgent event
      </a>
    
       <a class="tab-item" href="#/app/map">
        <i class="icon ion-location"></i>
        Map
      </a>

    </div>
</div>




  </ion-content>
</ion-view>
