<ion-view class="background" view-title="User Page">

  <ion-content class="padding">
   
    <div   class="username" class="list">
    <a  id="imageup" class="item item-avatar" href="#">
    <img src="/img/user.png">
    <br> <h2>Welcome   {{  genericFirstName}}  {{genericsecondName}}</h2>
    </a>
    </div>


    <map on-create="mapCreated(map)"></map>     
    </ion-content>
    <br>
    <ion-footer-bar class="bar-stable">
    <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
    </ion-footer-bar>
    <span> {{aya}}
    </span>







  </ion-content>
</ion-view>
