/* Empty. Add your own CSS if you like */
#firstinput{
  
    height: 15px;
    background: transparent;
    line-height: 9px;
    width: 100%;
}
#input {
   
    height: 15px;
    background: transparent;
    line-height: 9px;
    width: 100%;
}
#radiocheck{
   
    height: 39px;
    background: transparent;
    line-height: 10px;
    width: 100%;
}
#submitButton{
	height: 5px !important;
margin-top: 8px;
}




.animate-hide {
  transition: all linear 0.5s;
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}
.background{
background: rgba(179,220,237,1); 

}

#imageup{

background:white ;
}
#divHomePage{
margin-left: 17px !important;
  margin-top: 390px !important;
 width: 500px !important;
}
#buttonHome{
  background-color: #6ca9eb;
width: 130px !important;

  
}