/* Empty. Add your own CSS if you like */

.backgroundChild{
 background-color: #f098b5;
}

#firstinput{
  
    height: 15px;
    background: transparent;
    line-height: 9px;
    width: 100%;
}
#input {
   
    height: 15px;
    background: transparent;
    line-height: 9px;
    width: 100%;
}
#radiocheck{
    height: 39px;
    background: transparent;
    line-height: 10px;
    width: 100%;
}
#checkAvilableRadio{

    height: 9px !important;
    background: transparent;
    line-height: 10px;
    width: 100%;


}
#submitButton{
	height: 5px !important;

margin-left:100px !important;
margin-right: : 50px !important;
margin-top: 1px !important;
}



#marginform{
margin-left: 5px !important;
margin-right: 10px !important;
}
.animate-hide {
  transition: all linear 0.5s;
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}
.background{
background: rgba(179,220,237,1); 

}

#imageup{

background:white ;

}
#image{
width: 1px !important;


}
#imageupDriverPage{

background:white ;
width: 280px !important;
}

#toggleDriverPage{

background:white ;
width: 60px !important;
margin-top: 13px !important;

}
#divHomePage{
margin-left: 17px !important;
  margin-top: 350px !important;
 width: 500px !important;
}
#buttonHome{
  background-color: #6ca9eb;
width: 130px !important; 
}

#fontword{
font-family: "MenschMenschRegular";
    font-size: 30px;
    color: #fff;
  }


 #map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }
.scroll {
  height: 100%;
}
.ionic_ratings .read_only {
    pointer-events:none !important;
  }
   .ionic_ratings .icon {
    font-size: 50px;
  }


map {
  position: initial !important;
}


#tabcss{
margin-top: 100px !important;

}

.DriverShow{

width: 100% !important;

}
.tabbb{

margin-bottom: 0px !important;
}
#loginheader{
margin-top:30px !important ;


}
#loginheaderll{
margin-top: 30px !important;

}
.marginForm{

position: static !important;
width:290px;
border: 3px solid #ffffff;
margin:auto;
}
.mangername{

position: static !important;
width: 300px;
border: 3px hidden #ffffff;
margin-right: 10px !important;
margin-top: 2px !important;
margin-bottom:5px !important;
}
.mangernamee{


position: static !important;
width: 300px;
border: 3px hidden #ffffff;
margin-right: 5px !important;
margin-left: 10px !important;
margin-top: 2px !important;
margin-bottom:5px !important;

}
.paymentstyle{

width:150px !important ;
margin-right: 15px !important;

}
.showDriver{

position: static !important;
width: 285px;
border: 3px solid #21acc4;
margin-right:15px !important;
margin-left: 6px !important;
margin-top: 0px !important;
margin-bottom:10px !important;
}


.drivername{

position: static !important;
width: 300px;
border: 3px solid #21acc4;
margin-right:20px !important;
margin-left: 2px !important;
margin-top: 2px !important;
margin-bottom:20px !important;
}
.username{

position: static !important;
width: 300px;

border: 3px solid #21acc4;
margin-right:20px !important;
margin-left: 2px !important;
margin-top: 0px !important;
margin-bottom:3px !important;
}


.update_delete_css{

margin-right: 2px !important;
margin-left: 2px !important;


}
#toggle{
margin-top: 30px !important;


}

.ion-input-select--large,
.ion-input-select,
select {
  -webkit-appearance:none;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);  
  border:thin solid #dddddd;
  font-weight:300;
  display:inline;
  vertical-align:middle;
  color:#333;
  padding: auto 0;
  overflow:hidden;
  box-sizing:border-box;

}

.ion-input-select--large {
  width:420px;
  font-size:1.6rem;
  background-image: url(http://i.imgur.com/7rGM4IX.png);
  text-indent:40px;
  padding:1.2rem 0;
}

.ion-input-select {
  width:200px;
  font-size:1rem;
  background-image: url(http://i.imgur.com/nA9xx1X.png);
  text-indent:20px;
  padding:.5rem 0;
}

option {
  background:#444;
}

select::-ms-expand {
    display: none;
}

:focus {
  outline:none;
}